.config/spotify/
.config/Code/
.config/JetBrains/
.config/Electron/
.config/autostart/
.config/zsh/.zgenom/
.config/Netflix/
.config/libreoffice/
.config/qBittorrent/
.config/dconf/
.config/vlc/
.config/pulse/
.config/rclone/
.config/QtProject.conf
.cache/
.zotero/
Zotero/
.android/
.BurpSuite/
*.log
*.tmp
.bash_profile*
.bash_logout
.cargo/*
.config/discord
.config/discordcanary
.docker/
.gradle/
.idapro/
.inshellisense/
.ipython/
.java/
.jdks/
.jupyter/
.local/
.m2/
*history
.minecraft/
.minetest
.mozilla/
.npm/
.pki/
.pulse-cookie
.sdkman/
.sonarlint/
.swt/
.vscode-oss/
.vscode/
Téléchargements/
Downloads/
Pictures/Screenshots/
dev/
go/
vscode-cpptools/
Downloads/
__pycache__/
.wine/
Games/

.aspnet/
.config/Cppcheck/
.config/NuGet/
.config/audacity/
.config/fltk.org/
.config/fontforge/
.config/google-chrome/
.config/inkscape/
.config/jd-gui.cfg
.config/wireshark/*
.config/GIMP
.dotnet/
.ghidra/
.hyprland/
.nuget/
.pkg-cache/
.rustup/
Images/
Pictures/Wallpapers/lock/
ghidra-test/

.config/user-dirs.dirs
.config/wireshark/recent
.config/wireshark/recent_common
.config/xsettingsd/xsettingsd.conf
.john/
.yarnrc
Documents/*
memes/*
sslkey
.git-credentials

.ssh/*
.config/Code\ -\ OSS/*
.config/kwalletmanager5rc
.config/kwalletrc
.gnupg/*

.ignore_*

VirtualBox*
.vagrant.d/*
.config/coc/
obsidian/*
notes.txt

.config/obsidian/*
.config/BraveSoftware/
.openjfx/cache
.yarn/berry .yarn/bin
.ZAP/
.ZAP_D/
.config/github-copilot
.config/Bluesky
.config/google-chrome-for-testing
.config/google-chrome
